@model AVECinema.cinema.manager

@{
    ViewBag.Title = "PersonalInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personal Info</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                <span class="text-danger field-validation-error" data-valmsg-for="password" data-valmsg-replace="true"><span id="password-error" class=""></span></span>
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save changes" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
